# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment and virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# User uploaded files
web/storage/

# Log files
*.log

# Temporary files
*.swp
*.swo
.DS_Store

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 